{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

<div class="page-width">

  <div class="grid">
    <div class="nav-left medium-up--one-sixths small--hide">
      {% include 'left-nav' %}
    </div>
    <div class="page-content-center grid__item medium-up--five-sixths medium-up--push-one-twelfth">
     

      <div class="rte">
       {% section 'collection-template' %}
      </div>
    </div>
  </div>
 
</div>

